<%- include("../include/base.ejs") %>
<link rel="stylesheet" href="/css/shop.css">
</head>
<%- include("../include/header.ejs") %>

<main class="main">
    <form action="<% if (editing) { %> /edit-product <%} else{ %>/add-product<%} %>" method="POST" class="form">
        <div class="wrapper_form">
            <input type="text" name="title" placeholder="name product.." class="form_input" value="<% if(editing) { %><%= product.title %><% }  %>">
            <input type="number" name="price" placeholder="price product.." class="form_input" value="<% if(editing) { %><%= product.price %><% }  %>">
        </div>
        <button type="submit" class="btn"> <% if (editing) { %> UPDATE <%} else{ %> ADD PRODUCT <%} %> </button>
    </form>
</main>

<%- include("../include/end.ejs") %>